<div class="card bg-light profile-card">
  <div class="card-body">
    <h5 class="card-title">Thanks for your submission!</h5>
    <hr>
    <p>A developer should be able to confirm or deny your suggestion within a few days.</p>
    <p>Thanks for helping out! We'll keep track of the helpful ones for a later time!</p>
  </div>
</div>
