.categories-container {
  .category-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    padding: 12px 16px;
    width: 98%;

    @media (--very-small) {
      width: 48%;
    }

    @media (--small) {
      width: 31%;
    }

    @media (--medium) {
      width: 23%;
    }

    &.is-dragging,
    /* Packery adds class while transitioning to drop position */
    &.is-positioning-post-drag {
      border-width: 5px;
      border-style: dashed;
      z-index: 2; /* keep dragged item on top */
    }

    &.new-category-container {
      background-color: #eee;
    }

    .category-header {
      display: flex;
      justify-content: space-between;

      .btn {
        height: 30px;
        align-self: center;
      }
    }

    hr {
      margin: 12px 0;
    }

    .links-container {
      .empty-state {
        border: 0;
        box-shadow: none;
        margin: 0;
        padding: 8px 0;
        width: 100%;
      }

      a:hover {
        text-decoration: none;
      }


      .link-container {
        margin-bottom: 8px;
        padding: 2px 6px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
          box-shadow: 0 1px 3px rgba(0,0,0,0.12);
        }

        .link-header {
          display: flex;
          justify-content: space-between;

          .name-container {
            white-space: nowrap;
            overflow: hidden;
            flex: 2;
            margin-right: 4px;
            text-overflow: ellipsis;

            img {
              height: 18px;
              vertical-align: text-top;
              max-width: 18px;
              overflow: hidden;
            }

            i {
              font-size: 10px;
              line-height: 24px;
              margin-left: 1px;
              vertical-align: top;
            }
          }

          .toggle-link-form-button, .refresh-user-monitor-button {
            cursor: pointer;
          }
        }

        .link-form {
          display: none;

          &.toggled {
            display: block;
          }

          form {
            margin: 4px 0;

            .form-group {
              margin-bottom: 4px;
            }

            .help-us-link {
              text-decoration: underline;
              line-height: 31px;
            }
          }
        }
      }
    }

    .new-link-monitor-container {
      form {
        margin: 0;
      }
    }
  }

  .packery-drop-placeholder {
    outline: 3px dashed #138496;
    outline-offset: -6px;
    transition: transform 0.2s;
  }
}

.empty-state {
  background-color: #fefefe;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 4px -3px rgba(102, 102, 102, 0.25);
  color: #737373;
  font-size: 100%;
  margin: 30px auto;
  padding: 40px 20px;
  position: relative;
  text-align: center;
  width: 400px;
}
