<ul class="navbar-nav navbar-sidenav">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fa fa-fw fa-dashboard"></i> <span class="label">Dashboard</span>
    <% end %>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="RSS">
    <%= link_to current_user_rss_feeds_path, class: "nav-link" do %>
      <i class="fa fa-fw fa-rss"></i> <span class="label">RSS</span>
    <% end %>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Resources">
    <%= link_to resources_root_path, class: "nav-link" do %>
      <i class="fa fa-fw fa-cogs"></i> <span class="label">Resources</span>
    <% end %>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="About">
    <%= link_to about_root_path, class: "nav-link" do %>
      <i class="fa fa-fw fa-question-circle"></i> <span class="label">About</span>
    <% end %>
  </li>
</ul>
