<div class="card">
  <div class="card-body">
    <h3>Firefox Live Bookmarks</h3>
    <hr>
    <p>Firefox provides a built-in way to track your RSS/XML feeds right in your bookmarks bar! <a href="https://support.mozilla.org/en-US/kb/live-bookmarks">Live bookmarks</a> is the name of their feed feature, and is super easy to use.</p>
    <p>Simply visit one of <a href="<%= current_user_rss_feeds_path %>">your feeds</a>, and Firefox will ask you if you would like to add the live bookmark.</p>
    <p>When you answer 'Yes!', your feed will always be a click away right in your bookmarks bar. Many <a href="https://addons.mozilla.org/en-US/firefox/search/?tag=rss">plugins</a> exist to further enhance the experience.</p>
  </div>
</div>
