<div class="card bg-light mx-auto mt-5 rss-feeds-card">
  <div class="card-body">
    <h5 class="card-title">My Feeds:</h5>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>URL</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @rss_feeds.each do |feed| %>
            <tr>
              <td><%= feed.name %></td>
              <td><%= feed.url || "N/A" %></td>
              <td style="width: 24px;"><%= link_to "Edit" %></td>
              <td style="width: 24px;"><%= link_to "Open", user_rss_feed_path(current_user, feed, format: :rss) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
