<div class="card">
  <div class="card-body">
    <h3>What is DIY RSS?</h3>
    <hr>
    <p>DIY RSS is a solution to keeping up with an increasing number of websites.</p>
    <p>Until recently, RSS feeds were pretty common. These offered an inexpensive way of keeping up-to-date with your favorite sites and were found in most popular frameworks and plugins.</p>
    <p>However, it seems this feature has been forgotten in favor of home-grown solutions which inevitably lead to spam as one's email address starts circulating behind the scenes.</p>
    <p>DIY RSS aims to put you back in control. Point DIY RSS at your favorite sites, and we'll monitor them for you. When a new piece of content gets posted, we'll let you know!</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3>How's development?</h3>
    <hr>
    <p><b>We are currently in Alpha</b>. In fact, I'm not sure why you're reading this yet!</p>
    <p>Updates will be pushed live, without warning. Data may be lost. Use at your own risk, as I am at mine!</p>
  </div>
</div>
