<% content_for :title, "Diff" %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <% if @diff.present? %>
    <%= raw @diff %>
  <% else %>
    <%= render 'empty_states/monitor_result_diff' %>
  <% end %>
</section>

