<div class="card link-container">
  <div class="link-header">
    <a href="<%= redirect_path(monitor.id) %>" target="_blank" class="name-container">
      <img src="<%= favicon_url(monitor) %>" alt="favicon-<%= monitor.name %>"/>
      <span class="text-info monitor-name"><%= monitor.name %></span>
    </a>
  </div>
</div>
