<% content_for :header, "DIY RSS - #{@user_profile.user.email}" %>

<div class="categories-container">
  <% if @user_categories.nil? %>
    <div class="empty-state">
      <h3 class="text-info">No Categories</h3>
      <small>Add one below!</small>
    </div>
  <% else %>
    <% @user_categories.each do |category| %>
      <%= render 'public/category_card', category: category %>
    <% end %>
  <% end %>
</div>
